@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: #1D1D1D;
  min-width: 320px;
}

p {
  margin-block: 4px;
}

.container {
  box-sizing: content-box;
  max-width: 962px;
  min-width: 308px;
  padding: 16px 8px 16px 8px;
}

.header {
  box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.16);
  height: 72px;
  overflow-x: hidden;
}

.header .container {
  padding: 0 8px 0 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

.logo {
  align-self: center;
  flex-grow: 2;
}

nav {
  display: inline-block;
  line-height: 40px;
  
}


button {
  width: 78px;
  height: 40px;
  border-color: #E0E0E0;
  background-color: #FFFFFF;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin-left: 16px;
}
button a {
  text-decoration: none;
  color: #1D1D1D;
}

.basket {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 16px;
  display: inline-block;
}

.basket * {
  vertical-align: middle;
}

.shops {
  overflow-x: hidden;
}


.search {
  border: 1px solid #757575;
  border-width: 0 0 1px 0;
  font-family: inherit;
  color: #626262;
  padding: 0;
  font-size: 16px;
  margin-left: 0;
}

.indent {
  margin-top: 40px;
  margin-bottom: 16px;
}

h1{
  font-size: 22px;
  font-weight: 400;
}

.img {
  width: auto;
  height: 256px;
} 

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 128%;
  margin-top: 16px;
  margin-bottom: 4px;
}

.card {
  padding-bottom: 16px;
  margin-bottom: 16px;
  max-width: 368px;
}
.price {
  font-size: 14px;
  color: #626262;
}
.time {
  font-size: 13px;
}

.back1 {
  background: url('img/photo.png') center/ 100% 100%;
}
.back2 {
  background: url('img/photo2.png') center/ 100% 100%;
}
.back3 {
  background: url('img/photo3.png') center/ 100% 100%;
}
.back4 {
  background: url('img/photo4.png') center/ 100% 100%;
}
.back5 {
  background: url('img/photo5.png') center/ 100% 100%;
}
.back6 {
  background: url('img/photo6.png') center/ 100% 100%;
}
.back7 {
  background: url('img/photo7.png') center/ 100% 100%;
}
.back8 {
  background: url('img/photo8.png') center/ 100% 100%;
}
.back9 {
  background: url('img/photo9.png') center/ 100% 100%;
}

footer {
  background-color: #262626;
  position: relative;
  overflow-x: hidden;
}

.footer-logo {
  margin: 40px 0 24px 0;
}

footer a, footer p {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 0 23px 0;
}

footer p {
  margin: 23px 0 23px 0;
}

hr {
  color: #FFFFFF;
  opacity: 0.4;
  margin: 16px 0 16px 0;
}


.download {
  margin: 0;
}

.download img {
  margin: 24px 20px 1px 20px;
}

.language {
  font-size: 13px;
  font-family: inherit;
  background-color: #3B3B3B;
  color: #FFFFFF;
  display: block;
  appearance: none;
  background-image: url('img/footer/world.svg'), url('img/footer/arrow.svg');
  background-repeat: no-repeat,no-repeat;
  background-position: 16px center, calc(100% - 8px) center ;
  background-size: auto auto, auto auto;
  padding: 12px 0 12px 48px;
  width: 100%;
  margin: 16px 0 33px 0;
}

img[alt="social"] {
  margin-bottom: 39px;
}

.block_top {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 16px;
  width: 80px;
  height: 100%;
  background-color: #FFFFFF;
  align-items: flex-end;
  visibility: hidden;
}

.up {
  width: 80px;
  height: 80px;
  color: #FFFFFF;
  position: sticky;
  position: -webkit-sticky;
  bottom: 24px;
  margin: 0;
  background: #59BD5A url('img/footer/arrow_up.svg') center center no-repeat;
  visibility: visible;
}

@media (max-width: 767px) {
  .basket {
    display: none;
  }

  .img {
    height: 246px;
  }

  .up {
    width: 64px;
    height: 64px;
  }

  .download img {
    height: 36px;
    margin: 8px 12px 1px 12px;
  }

  .download + div > hr {
    margin: 0 0 16px 0;
  }
 
}

