nav {
  line-height: 1.1;
}

td:first-child {
  width: 52%;
}

th, td {
  padding: 15px 12px 12px 19px !important;
}

h1 {
  line-height: 1.17;
}

h1 + p {
  max-width: 38rem;  
  line-height: 1.2;
}

.modified-row-height {
  line-height: 1.2;
}

footer, footer > div {
  background-color: #F5F5F5;
}

@media (max-width: 767px) {
  h1 {
    font-size: 48px !important;
  }
}

@media (min-width: 767px) {
  footer br {
    display: none;
  }
}